.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.weighbridge-headings{
	display: block;
	text-align: center;
	font-size: 29px;
	font-family: 'Roboto Slab', serif;
	color:#010101;
	padding-bottom: 20px;
	font-weight: 700;
}

.video-section{
	background: url("./images/building-bg.jpg");
}
.video-section > div {
	padding: 60px 0 0 0;
}
.video-section iframe{
	display: block;
    margin: 0 auto;
    height: 310px;
    width: 550px;
}
/*Industry Cetogry Css here*/
.industry-section{ 
	display: flex;
	flex-wrap: wrap;
	/*padding: 0 150px;*/
	justify-content: center;
	text-align: center;	
	padding-bottom: 50px;

}

.industry-element{
	height: 80px;
	width: 80px;
	/*display: inline-block;*/
	margin:0 55px;
	margin-bottom: 1px;
	/*padding: ding: 40px 40px;*/
}


.industry-element + p{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #000000;
}


.industry-element span{
	padding: 50px 5
}


.icon{
	display: block;
    margin: 0 auto;
    background: url(./images/unmanned-sprite.png) no-repeat;
    width: 80px;
    height: 80px;
}
.icon:hover{
   cursor:pointer;
}
.application-overview{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #000000;
	padding: 15px 25px;
}

.steel-industry-icon{
	background-position: 0 0;
}
.steel-industry-icon:hover{
	background-position: 0 -80px;
}
.cement-industry-icon{
    background-position: -80px 0;
}

.cement-industry-icon:hover{
    background-position: -80px -80px;
}
.agriculture-industry-icon{
    background-position: -160px 0;
}
.agriculture-industry-icon:hover{
    background-position: -160px -80px;
}
.mining-industry-icon{
    background-position: -240px 0;
}
.mining-industry-icon:hover{
    background-position: -240px -80px;
}
.sugar-industry-icon{
    background-position: -320px 0;
}
.sugar-industry-icon:hover{
    background-position: -320px -80px;
}
.landfills-industry-icon{
    background-position: -400px 0;
}
.landfills-industry-icon:hover{
    background-position: -400px -80px;
}
.waste-industry-icon{
    background-position: -480px 0;
}
.waste-industry-icon:hover{
    background-position: -480px -80px;
}
.asphalt-industry-icon{
   background-position: -560px 0;
}
.asphalt-industry-icon:hover{
   background-position: -560px -80px;
}
.oil-industry-icon{
   background-position: -640px 0;
}
.oil-industry-icon:hover{
   background-position: -640px -80px;
}
.ports-industry-icon{
   background-position: -720px 0;
}
.ports-industry-icon:hover{
   background-position: -720px -80px;
}
.manufacturing-industry-icon{
   background-position: -800px 0;
}
.manufacturing-industry-icon:hover{
   background-position: -800px -80px;
}


/* Key advantages css here */
.am-key-advantages{
	padding: 50px 0;
	text-align: center;
	background-color: #e0f4ff;
}
.am-key-advantages .am-container{
	display: inline;
}
.am-key-advantages .am-item p{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #000000;
}
.am-key-advantages .am-item{
	width: 18.6%;
	padding: 1%;
	display: inline-block;
	vertical-align: top;
}
.cross-icon{
	background-position: 0 -160px;
}
.cross-icon:hover{
	background-position: 0 -240px;
}
.scissor-icon{
	background-position: -81px -160px;
}
.scissor-icon:hover{
	background-position: -81px -240px;
}
.barcode-icon{
	background-position: -161px -160px;
}
.barcode-icon:hover{
	background-position: -161px -240px;
}
.network-icon{
	background-position: -241px -160px;
}
.network-icon:hover{
	background-position: -241px -240px;
}
.barrier-icon{
	background-position: -320px -160px;
}
.barrier-icon:hover{
	background-position: -320px -240px;
}
.cctv-icon{
	background-position: -400px -160px;
}
.cctv-icon:hover{
	background-position: -400px -240px;
}
.cog-icon{
	background-position: -481px -160px;
}
.cog-icon:hover{
	background-position: -481px -240px;
}
.noEntry-icon{
	background-position: -561px -160px;
}
.noEntry-icon:hover{
	background-position: -561px -240px;
}	
.weight-icon{
	background-position: -641px -160px;
}
.weight-icon:hover{
	background-position: -641px -240px;
}
.time-icon{
	background-position: -721px -160px;
}
.time-icon:hover{
	background-position: -721px -240px;
}



/*Feature css here*/

.feature-section{
	padding: 50px 0;
}
.weighbridge-custom-feature{
  background-position: 0 -320px;
}
.traffic-light-feature{
   background-position: -80px -320px;
}
.ais-feature{
    background-position: -160px -320px;
}
.barrier-gate-feature{
   background-position: -240px -320px;
}
.cctv-feature{
   background-position: -320px -320px;
}
.digital-display-feature{
   background-position: -400px -320px;
}

.weighbridge-custom-feature:hover{
  background-position: 0 -400px;
}
.traffic-light-feature:hover{
   background-position: -80px -400px;
}
.ais-feature:hover{
    background-position: -160px -400px;
}
.barrier-gate-feature:hover{
   background-position: -240px -400px;
}
.cctv-feature:hover{
   background-position: -320px -400px;
}
.digital-display-feature:hover{
   background-position: -400px -400px;
}

.feature-element p:nth-child(2){
 text-align: center;
 font-family: 'Roboto', sans-serif;
 font-weight: 400;
 font-size: 15px;
 color: #0277ff;
}

.feature-element p:nth-child(3){
 text-align: justify;
 font-family: 'Roboto', sans-serif;
 font-weight: 300;
 font-size: 13px;
 text-align: justify;
 -moz-text-align-last: center;
 text-align-last: center;
}
@media only screen and (max-width:1024px){
	.industry-element{
		margin:0 33px;
	}
}
@media only screen and (max-width:992px){
	.am-key-advantages .am-item{
		width: 23.6%;
	}
}
@media only screen and (max-width:767px){

}
@media only screen and (max-width:600px){
	.industry-element{
		margin:0 32px;
	}
	.am-key-advantages .am-item{
		width: 47%;
	}
}
@media only screen and (min-width: 425px) and (max-width:767px){
	.feature-element p:nth-child(3){
		padding: 0 45px;
	}
}
@media only screen and (max-width:425px){
	.video-section iframe {
		display: block;
	    margin: 0 auto;
	    height: 185px;
	    width: 319px;
	}
	.application-overview{
		padding : 15px 0;
	}
	.am-key-advantages .am-item{
		width: 97%;
	}
	.feature-element p:nth-child(3){
		padding: 0 10px;
	}
}